* {
    font-family: 'Minecraftia' ,'sans-serif';
    margin: 0;
  }

  @media (min-width: 400px) {
  .tudo{    
    background-image: url(wallpaper_minecraft_caves_cliffs\(part2\)_1080x1920.png);
    background-size: cover;
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;

  }} 

  @media (min-width: 650px) {
  .tudo{    
    background-image: url(wallpaper_minecraft_caves_cliffs\(part2\)_2048x2048.png);
    background-size: cover;
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;

  }} 

  @media (min-width: 900px) {
  .tudo
{
    background-image: url(wallpaper_minecraft_caves_cliffs\(part2\)_2058x1440.png);
     background-size: cover;
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}}


  @media (min-width: 1150px) {
  .tudo
{
    background-image: url(wallpaper_minecraft_caves_cliffs\(part2\)_2560x1440.png);
    background-size: cover;
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}}

.imagem-overlay {
  position: absolute;
  top: -250%;        
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  max-width: 600px;
  height: auto;
  z-index: 10;
}

  .contain{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }

  #menu_de_opcoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
  }

    #menu_de_opcoes .btn:first-child {
    margin-right: 10px;
  }

  .btn {
    background: #727272;
    color: rgb(247, 247, 247);
    width: 100%;
    padding: .5rem 0;
    margin-bottom: .75rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: .025em;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
     inset -3px -3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .btn:hover {
    background: rgba(115, 107, 221, 1);
  }
  
   .btn:focus {
    color: rgb(246, 246, 44);
    outline: none;
  }

  #vestiario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18%;
    margin-left: 70%;
  }
 
.btn_2{
  position: relative;
  width: 100%;
}

.versao {
  position: fixed;
  bottom: 10px;
  margin-left: 5px;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.8);
  font-family: 'Minecraftia', sans-serif;
}
.versao2 {
  position: fixed;
  bottom: 10px;
  right: 1px;
  margin-right: 5px;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.8);
  font-family: 'Minecraftia', sans-serif;
}

